@import url('https://fonts.googleapis.com/css2?family=Inder&family=Inter&display=swap');

nav {
    text-align: right;
    width: 100%;
    height: 100px;
}
nav li {
    display: inline-block;
    margin-top: 40px;
    margin-left: 15px;
    font-family: 'Inder', sans-serif;
    font-size: 16px;
    color: #D4F1F4;
}

nav li a {
    text-decoration: none;
    color: #D4F1F4;
    
}

nav li a:hover {
    color: #75E6DA;
}

.btresume {
    padding: 10px 10px 9px 9px;
    margin-right: 80px;
    width: 92px;
    height: 39px;
    border: 1px solid #75E6DA;
    box-sizing: border-box;
    border-radius: 5px;
    color: #75E6DA;
}

.btresume a {
    text-decoration: none;
    color: #75E6DA;
}

.btresume:hover {
    color: #D4F1F4;
    transform: scale(1.08);
}

body {
    background: #001219;
}

p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #D4F1F4;
    line-height: 28px;
}

main {
    width: 80%;
    margin: 0px 144px;
    height: 800px;
    top: 100px;
}

main a {
    color: #75E6DA;
    text-decoration: none
    }

.presentation {
    margin: 200px 5%;
    height: 600px;
}

.me {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 87px;
    display: flex;
    color: #D4F1F4;
}

.pro {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 87px;
    display: flex;
    color: #88A5A8;
}

.textme {
    width: 500px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    text-align: justify;
    color: #D4F1F4;
}

.seemore {
    padding: 15px 22px 15px 22px;
    width: 200px;
    height: 48px;
    margin: 25px 0px;
    border: 1px solid #75E6DA;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: 'Inder';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    text-align: center;
}

.seemore:hover {
    color: #D4F1F4;
    transform: scale(1.08);
}


h2 {
    display: inline;
    font-family: 'Inder';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #75E6DA;
    line-height: 60px;
}
.aboutme {
    width: 50%;
    height: 800px;
    text-align: justify;
    margin: 0px 5%;
    border-top: 1px solid #75E6DA;
}

main li {
    font-family: 'Inder', sans-serif;
    font-size: 16px;
    line-height: 25px;
    color: #75E6DA;
}

@media screen and (max-width: 480px) {
    nav {
        text-align: center;
    }

   .btresume {
        margin-right: 0px;
   } 

   main {
       width: 100%;
       margin: 100px 5%;
   }

   .presentation {
       margin: 0px 5%;

   }

   .textme {
       width: 100%;
   }

   .aboutme {
       width: auto;
   }

}
